* {
    margin: 0;
    padding: 0;
    text-decoration: none;

    box-sizing: border-box;
    list-style: none;
}


nav {
    /* padding: 5px 100px; */
    background: rgb(36, 30, 30);
    color: wheat;
}

nav .ul .logo {
    font-size: 2rem;
    font-weight: bolder;
}

nav ul {
    display: flex;
    margin: 0px 200px;
}

nav ul li {
    margin: 10px 0px;
}

nav ul li a {
    color: wheat;
    padding: 5px;
    margin: 0px 0px;
    font-weight: bold;
}

nav ul li a:hover {
    border: 2px solid wheat;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

nav ul li a:active {
    background: wheat;
    color: black;
}

nav ul .navSec {
    margin: 20px;
}

nav ul .left {
    margin-right: auto;
    max-width: 40%;
    margin-left: 20px;
}

nav ul .right {
    margin-left: auto;
    display: flex;
    max-width: 60%;
    margin-right: 20px;
}


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */

main {}

main .mainScreen {
    height: 90vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .mainScreen .mainDiv {
    min-width: 400px;
    max-width: 600px;
    text-align: center;
    padding: 15px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: wheat;
    color: black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


main .mainScreen .mainDiv .btn{
    width: 200px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
}
main .showCount{
    font-size: 2rem;
    font-weight: bolder;
    margin: 10px;
    padding: 10px;
    background: gray;
}

main .blink{

    color: rgb(0, 255, 0);
    background: green;

}
main .redBlink{

    color: rgb(37, 1, 1);
    background: red;
}

main .addBtn{
    background: green;
    border: 0;
    border-radius: 8px;
    color: wheat;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
main .subBtn{
    background: rgb(128, 0, 0);
    border: 0;
    border-radius: 8px;
    color: wheat;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}